@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<body>
    <h2>Movie Details</h2>
    <p>Movie ID: @Model.Id</p>
    <p>Movie Name: @Model.Name</p>
    <p>Rating: @Model.Rating</p>
    <p>Release Year: @Model.ReleaseYear</p>
    <p>Genre: @Model.Genre</p>
</body>
</html>