@model BSIT3L_Movies.Models.MovieViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
</head>
<body>
    <div id="shell">
        <div id="header">
            <div class="social">
             
            </div>
            <div id="sub-navigation">
                <h1>MOVIE DETAILS</h1>
            </div>
            <div id="news">
                <div class="head">
                    <p class="text-right"><a href="@Url.Action("Index", "Home")">Back</a></p>
                </div>
            <div class="content">
                    <img src="movie.1.jpg" alt="">
    <p>Movie ID: @Model.Id</p>
    <p>Movie Name: @Model.Name</p>
    <p>Movie Image: @Model.Image</p>
    <p>Movie Teaser: @Model.Teaser</p>
    <p>Movie Description:@Model.Description</p>
                 
            </div>
            </div>
           @* <div id="news">
                <div class="head">
                    <p class="text-right"><a href="@Url.Action("Index", "Home")">Back</a></p>
                </div>
                <div class="content">
                    <p class="date">2023</p>
                    <h4>JOHN WICK</h4>
                    <p>Legendary assassin John Wick retired from his violent career after marrying the love of his life. Her sudden death leaves John in deep mourning. When sadistic mobster Iosef Tarasov and his thugs steal John's prized car and kill the puppy that was a last gift from his wife, John unleashes the remorseless killing machine within and seeks vengeance. Meanwhile, Iosef's father - John's former colleague -- puts a huge bounty on John's head. </p>
                    <img src="movie1.jpeg" alt="" />
                </div>
              
            </div>*@
            <div id="coming">
                <div class="head">
                    <h3><strong>COMING SOON !</strong></h3>
                    <p class="text-right"><a href="@Url.Action("Index", "Movies")"></a></p>
                </div>
                <div class="content">
                    <h3>THE CROODS </h3> 
                    <a href="https://youtu.be/EHGljhKT16I?si=NK6V7ILaOueeane-"><img src="movie2.jpg"/></a>
                    <p> &quot;Prehistoric family the Croods live in a particularly dangerous moment in time. Patriarch Grug, his mate, Ugga , teenage daughter,son Thunk and feisty Gran gather food by day and huddle together in a cave at night. When a more evolved caveman named Guy  arrives on the scene, Grug is distrustful, but it soon becomes apparent that Guy is correct about the impending destruction of their world.
.</p>
                
                </div>
                <div class="cl">&nbsp;</div>
                <div class="content">
                    <h4>SPIDERMAN 3</h4>
                    <img src="movie3.jpg"alt="" />
                    <p>&quot; 
                          SPIDERMAN 3- Peter Parker  and M.J. seem to finally be on the right track in their complicated relationship, but trouble looms for the superhero and his lover. Peter's Spider-Man suit turns black and takes control of him, not only giving Peter enhanced power but also bringing out the dark side of his personality. Peter must overcome the suit's influence as two supervillains, Sandman and Venom, rise up to destroy him and all those he holds dear.</p>
                </div>
                <div class="content">
                    <h4>HOW TO TRAIN YOUR DRAGON</h4>
                    <a href="https://youtu.be/oKiYuIsPxYk?si=7rwzi3kWI3RdEKkz"><img src="movie3.jpg"/></a>
                    <p> &quot;Peter Parker  and M.J. seem to finally be on the right track in their complicated relationship, but trouble looms for the superhero and his lover. Peter's Spider-Man suit turns black and takes control of him, not only giving Peter enhanced power but also bringing out the dark side of his personality. Peter must overcome the suit's influence as two supervillains, Sandman and Venom, rise up to destroy him and all those he holds dear.</p>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div id="footer">
            <p class="lf">Copyright &copy; 2023 > </p>
        </div>
    </div>
</body>
</html>
